<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.UserMapper">

    <update id="updateUser">
        update user
        set username = #{username},password=#{password},phone=#{phone}
        where uid = #{uid}
    </update>

    <delete id="deleteUser">
        delete from user
        where uid = #{userId}
    </delete>

    <insert id="register" useGeneratedKeys="true" keyProperty="uid">
        insert into user (username,password,phone,create_time)
        values
        (#{username},#{password},#{phone},now())
    </insert>

    <select id="findUser" resultType="entity.Users">
        select * from user where username like concat('%',#{username},'%')
    </select>

</mapper>